body, p {
	font-family: 'Raleway', sans-serif !important;
}

h1 {
	font-weight: 500;
	font-size: 27px;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-align: center;
}

h2 {
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-align: center;
}

h3 {
	text-align: center;
	font-weight: 300;
	font-size: 20px;
	padding-bottom: 25px;
	text-transform: uppercase;
	letter-spacing: 4px;
}

h4 {
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-align: center;
}

hr {
	width: 55px;
	margin: auto;
	border: 1px solid black;
	margin: 20px auto;
}

p {
	font-weight: 100;
	padding: 0;
	margin: 0;
}

.tabs-content {
  *zoom: 1;
  display:block:important!
  opacity: 0;
}
@-webkit-keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}
.tabs-content:before, .tabs-content:after {
	content: " ";
	display: table; 
}
.tabs-content:after {
	clear: both; 
}
.tabs-content > .content {
	display: none;
	float: left;
}

.tabs-content > .content.active {
	-webkit-animation: fadeIn 1.5s;
	animation: fadeIn 1.5s;
	opacity: 1;
	
	display: block; 
}

section {
	padding: 50px 0;
}

.white {
	background-color: #ffffff;
}

.blue {
	background-color: #212639;
	color: #ffffff;
}

.blue h1, .blue h2, .blue h3, .blue h4 {
	color: #ffffff;
}

.blue hr {
	border: 1px solid #ffffff;
}

span.amee {
	color: #ffffff;
	background-color: #104d72;
	padding: 0 5px;
}

.video-wrap {
	background-color: #000000;
	opacity: 0.7;
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -5;
}

video#bgvid {
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -10;
	background: url(../img/bg2.jpg) no-repeat;
	background-size: cover;
}

section[name="nav"] {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 15px 0 15px 0;
	z-index: 100;
}

section[name="nav"] .row {
	max-width: 1200px;
}

section[name="nav"] ul {
	list-style: none;
	text-align: right;
}

section[name="nav"] li {
	list-style: none;
	display: inline-block;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 100px;
	padding: 0 15px;
	position: relative;
	top: 18px;
}

section[name="nav"] li a {
	color: #ffffff;
}

section[name="nav"] img {
	height: 60px; 
}

section[name="nav"] .power {
	display: inline-block;
	position: relative;
	top: 5px;
	left: 10px;
	color: #ffffff;
	font-weight: 100;
	font-size: 12px;
	
}

section[name="nav"] .power a {
	color: #ffffff;
}

section[name="nav"] .power .amee {
	font-size: 14px;
}

section[name="nav"].scroll {
	background-color: rgba(255,255,255,0.95);
	border-bottom: 1px solid #d1d1d1 !important;
	transition: 0.8s;
}

section[name="nav"].scroll li a {
	color: #212739 !important;
}

section[name="nav"].scroll .power {
	color: #000000;
}

section[name="nav"].scroll .power a {
	color: #000000;
}

section[name="nav"].scroll img {
	-webkit-filter: brightness(100%); 
	transition: 0.1s;
}

section[name="header"] {
	height: 100%;
	overflow: hidden;
}

section[name="header"] .row {
	max-width: 1200px;
}

section[name="header"] h1, section[name="header"] h2, section[name="header"] h3, section[name="header"] h4 {
	font-family: 'Raleway', sans-serif;
	text-transform: none;
	color: #ffffff;
	text-align: center;
	padding: 0;
}

section[name="header"] h1 {
	font-size: 40px;
	font-weight: 600;
	letter-spacing: 3px;
}

section[name="header"] h2 {
	font-size: 22px;
	letter-spacing: 2px;
	font-weight: 100;
}

section[name="header"] h3 {
	font-size: 13px;
	letter-spacing: 2px;
	font-weight: 100;
}

section[name="header"] h4 {
	font-size: 17px;
	letter-spacing: 2px;
	font-weight: 100;
	padding: 10px 0 20px 0;
}

section[name="header"] hr {
	width: 55px;
	margin: auto;
	border: 1px solid #ffffff;
	margin: 30px 0px 20px 0;
}

section[name="header"] a.button {
	padding: 20px 60px;
	background-color: #e67e22;
	font-size: 12px;
	letter-spacing: 1px;
	margin-top: 0px;
	text-transform: uppercase;
	font-weight: 500;
}

section[name="header"] a.button:hover {
	transition: 0.7s;
	background-color: #f2913c;
}

section[name="header"] .headwrap {
	padding-top: 150px;
}

section[name="about"] .row {
	text-align: center;
}

section[name="about2"] {
	max-width: 100% !important;
	padding: 0;
	margin: 0;
}

section[name="about2"] .row {
	max-width: 100%;
}

section[name="about2"] .row, section[name="about2"] .columns {
	padding: 0;
	margin: 0;
}

section[name="about2"] .lefta, section[name="about2"] .righta {
	display: block;
	height: 310px;
}

section[name="about2"] .cover {
	opacity: 1;
	background-color: rgba(0,0,0,0.4);
	color: #ffffff;
	height: 100%;
	text-align: center;
	padding-top: 140px;
}

section[name="about2"] .cover span {
	position: relative;
	top: -5px;
	padding-left: 10px;
	font-weight: 100;
}

section[name="about2"] .lefta:hover > .cover, section[name="about2"] .righta:hover > .cover {
	opacity: 0.9;
	cursor: pointer;
	transition: 0.5s;
	background-color: #ffffff;
	color: #256a97;
}

section[name="about2"] .content {
	height: 310px;
}

section[name="about2"] .content .columns {
	padding: 40px 20px;
}

section[name="about2"] .content p {
	text-align: center;
	font-size: 14px;
	opacity: 90;
}

section[name="about2"] .content .number {
	font-size: 60px;
	font-weight: 500;
}

section[name="about2"] .content .title {
	font-size: 15px;
	padding-bottom: 15px;
	font-weight: 600;
}

section[name="schedule"] .row {
	max-width: 100%;
}

section[name="schedule"] .columns {
	margin: 0;
	padding: 0;
}

section[name="schedule"] .tabs {
	width: 100%;
	margin: 0;
	padding: 0;
}

section[name="schedule"] .tabs .tab-title {
	width: 33.33%;
	font-size: 13px;
}

section[name="schedule"] .tabs .tab-title a {
	padding: 3px 0;
	text-align: center;
	background-color: #212739;
	color: #ffffff;
}

section[name="schedule"] .tabs .tab-title.active a {
	background-color: #256a97;
	border: 0;
	outline: 0;
}

section[name="schedule"] .tabs-content {
	padding: 30px 50px;
	transition: 0.5s;
}

section[name="schedule"] .tabs-content .row {
	max-width: 1100px;
	margin: auto;
}

section[name="schedule"] .tabs-content p {
	color: #626262;
	letter-spacing: 1px;
}

section[name="schedule"] .tabs-content .time {
	border-top: 4px solid #256a97;
	padding: 15px 0;
	font-weight: 400;
	font-size: 13px;
}

section[name="schedule"] .tabs-content .title {
	border-top: 1px solid #000000;
	padding: 15px 10px 0 10px;
	text-transform: uppercase;
	font-size: 13px;
}

section[name="schedule"] .tabs-content .subtitle {
	font-size: 13px;
	padding: 0 10px 15px 10px;
}

section[name="schedule"] .tabs-content .subtitle strong {
	font-weight: 600;
}

section[name="schedule"] .tabs-content .click {
	cursor: pointer;
}

section[name="schedule"] .tabs-content .selected .title, section[name="schedule"] .tabs-content .selected .subtitle {
	color: #256a97;
}

section[name="schedule"] .tabs-content .selected .title {
	border-top: 1px solid #256a97;
}

section[name="schedule"] .tabs-content .details p {
	color: #7f7f7f;
	font-size: 12px;
}

section[name="schedule"] .tabs-content .venue {
	padding: 15px 0 0 0;
}

section[name="schedule"] .tabs-content .cont {
	padding: 15px 10px;
	border-top: dashed 1px #7f7f7f;
}

section[name="schedule"] h3 {
	color: #256a97;
}

section[name="organisers"] img {
	margin-top: 30px;
	margin-bottom: 10px;
	border-radius: 3px;
	height: 180px;
	width: 180px;
}

section[name="organisers"] .co img {
	height: 160px;
	width: 160px;
	border-radius: 2px;
}

section[name="organisers"] p.name {
	font-weight: 600;
}

section[name="organisers"] p.position {
	font-weight: 300;
	font-size: 12px;
	max-width: 220px;
	opacity: 0.8;
}

section[name="organisers"] p.social i {
	font-size: 20px;
	padding: 0 5px;
}

section[name="organisers"] p.social a {
	color: #ffffff;
	opacity: 0.7;
}

section[name="organisers"] p.social a:hover {
	opacity: 1;
}

section[name="organisers"] .elearning p {
	padding: 15px 0 15px 0;
	font-weight: 100;
	opacity: 0.8;
	text-align: center;
}

section[name="sponsors"] .tier {
	padding: 30px 0;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 20px;
}

section[name="sponsors"] .headline {
	color: #528ea6;
}

section[name="sponsors"] .core {
	color: #454545;
	font-size: 14px;
}

section[name="mentors"] img {
	margin-top: 30px;
	border-radius: 50%;
	height: 120px;
	width: 120px;
}

section[name="mentors"] p.name {
	font-weight: 600;
	margin-top: 10px;
}

section[name="mentors"] p.position {
	font-weight: 300;
	font-size: 12px;
	max-width: 220px;
	opacity: 0.8;
}

section[name="mentors"] h4 {
	margin-top: 40px;
}

section[name="map"] {
	height: 350px;
	background-image: url("http://www.footiemap.com/country/scotland/maps/glasgow.jpg");
	background-size: cover;
	background-position-y: -250px;
}

section[name="map"] .box {
	background-color: rgba(255,255,255,0.9);
	padding: 20px 30px;
	margin-top: 10px;
	height: 250px;
	width: 350px;
}

section[name="map"] .box p {
	padding: 0;
	margin: 0;
}

section[name="map"] .box .location {
	font-weight: 300;
	font-size: 30px;
	line-height: 1.2em;
}

section[name="map"] .box .date {
	font-weight: 300;
	font-size: 20px;
}

section[name="map"] .box .link {
	font-size: 14px;
	padding-top: 15px;
}

section[name="apply"] {
	background-image: url("../img/secc.jpg");	
	background-size: cover;
	background-position-y: -200px;
	padding: 50px 0;
}

section[name="apply"] p {
	color: #ffffff;
	font-size: 30px;
	margin-bottom: 30px;
}

section[name="apply"] select {
	display: inline-block;
	width: auto;
	background: transparent;
    -webkit-appearance: none;
    border: none;
    border-bottom: 2px dashed #ffffff;
    color: #ffffff;
	font-size: 30px;
	height: auto;
	cursor: pointer;
	width: 230px;
	outline: none;
}

section[name="apply"] select:hover {
	color: #c4eeff;
	transition: 0.5s;
}

section[name="apply"] #width_tmp{
	display : none;
}

section[name="apply"] .applybtn {
	padding: 10px 25px;
	color: #ffffff;
	background-color: #e67e22;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 1px;
}

section[name="apply"] .applybtn:hover {
	background-color: rgba(230,126,35,0.8);
	transition: 0.5s;
}

section[name="footer"] {
	background-color: #ffffff;
	padding: 7px 0;
	text-align: center;
}

section[name="footer"] p {
	font-size: 12px;
	padding: 0;
	margin: 0;
}

@media only screen and (max-width: 64.0625em) {
	section[name="header"] {
		min-height: 900px;
	}
	
	section[name="header"] .headwrap {
		padding-top: 150px;
	}
	
	section[name="nav"] {
		padding-bottom: 0;
		border: none;
	}
	
	section[name="nav"] .button.dropdown {
		width: 100%;
		margin: 20px 0 0 0;
		text-transform: uppercase;
		font-size: 15px;
		font-weight: 300;
		letter-spacing: 2px;
		background-color: rgba(255,255,255,0.2);
		outline: none;
	}
	
	section[name="nav"].scroll .button.dropdown {
		background-color: #1884c6;
	}
	
	section[name="nav"] .f-dropdown {
		width: 97% !important;
		margin: 0 5px !important;
		left: 0 !important;
	}
	
	
	section[name="nav"] li {
		list-style: none;
		display: block;
		color: #000000;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 1px;
		font-weight: 100px;
		padding: 0 15px;
		position: relative;
		top: 0px;
		text-align: center;
	}
	
	section[name="nav"] li a {
		color: #000000;
	}
}